@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #121212;
}
.wrapper
{
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
}
@keyframes show_toast{
    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%,100%{
        transform: translateX(20px);
    }
}
.wrapper.hide
{
    animation: hide_toast 1s ease forwards; 
}
@keyframes hide_toast{
    0%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(10%);
    }
    80%,100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}
.wrapper .toast 
{
    width: 430px;
    background: #202020;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.7);
    border-left: 5px solid #2ecc71;
}
.wrapper .toast.offline
{
    border-color: #121212;
}
.toast .content 
{
    display: flex;
    align-items: center;
}
.toast .content .icon
{
    background-color: #2ecc71;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
}
.toast.offline .content .icon
{
    background: #ccc;
}
.toast .content .details
{
    margin-left: 15px;
}
.content .details span
{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.content .details p
{
    color: #878787;
}
.toast .close-icon
{
    background: #f2f2f2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    border-radius: 50%;
    color: #878787;
    cursor: pointer;
}